/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #3b94e2;
  --ifm-color-primary-dark: #2286de;
  --ifm-color-primary-darker: #1f7fd3;
  --ifm-color-primary-darkest: #1a69ae;
  --ifm-color-primary-light: #54a2e6;
  --ifm-color-primary-lighter: #60a8e8;
  --ifm-color-primary-lightest: #85bded;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #3b94e2;
  --ifm-color-primary-dark: #2286de;
  --ifm-color-primary-darker: #1f7fd3;
  --ifm-color-primary-darkest: #1a69ae;
  --ifm-color-primary-light: #54a2e6;
  --ifm-color-primary-lighter: #60a8e8;
  --ifm-color-primary-lightest: #85bded;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

.hero {
  background-image: url("/static/img/back.jpg");
}